<div class=" bg-black-transparent  d-flex  flex-grow-1 ml-auto " style=" " id="contact_box">

    <div class="  p-2" >
 
                  <a class="m-auto p-1" href="{{ $.Site.Params.instagram }}">
                    <span class="fa fa-2x fa-instagram m-1"></span>
                  </a>
                  <a class="m-auto p-1" href="{{ $.Site.Params.facebook }}">
                    <span class="fa fa-2x fa-facebook m-1"></span>
                  </a>
                  <a class="m-auto p-1" href="{{ $.Site.Params.twitter }}">
                    <span class="fa fa-2x fa-twitter m-1"></span>
                  </a>
 
    </div> 
</div>
