<div class="menu-left-large d-none d-xl-block d-lg-block d-md-block " style="">
  <div class=" row d-flex-row ">
    <div class=" text-center ml-auto mr-auto mt-auto mb-auto p-4" >
 
          <img
            id=" "
            width="240px"
            height="240px"
            class="lazyload rounded-circle z-depth-1 shadow"
            src="src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="https://source.unsplash.com/random"
          />
  
    </div>
    <div class=" text-left mt-2 mb-2 ml-2 ml-auto p-4"  >
      {{ partial "navmenu"  . }}
 <br>
      {{ partial "navmenu_social" . }}
    </div>

  </div>
</div>
