<div class="container-fluid  menu-left-large  p-0 m-0  d-none d-xl-block d-lg-block d-md-block" style="">
  <div class="d-flex-row row">
    <div class=" text-center ml-auto mt-4 mr-auto mb-4 p-4"  >
      <a
          class="bg-light"
          style=""
          data-src="images/"
          data-fancybox="images"
          data-width="720"
          data-caption=""
        >
          <img
            id=" "
            width="180px"
            class="lazyload m-2 p-2 shadow"
            src="src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="images/"
            alt=" "
            >
      </a>
    </div>
  </div>
  <hr class="mt-1 p-1 bg-light">

  <div class="row">
    <div class=" text-left ml-4 mt-4 mr-4 mb-4 p-4"  >
      {{ partial "navmenu" . }}
    </div>
    <div class="m-4 p-4"  >
      {{ partial "navmenu_social" . }}
    </div>

  </div>
</div>
