<div role="navigation" class=" overlay-menu-bottom-social m-2 ">        
 
  <a role="button" href="{{ $.Site.Params.instagram }}" alt="{{ $.Site.Params.instagram }}">
    <span class="fa fa-lg fa-instagram p-1 "></span>
  </a>
  <a role="button" href="{{ $.Site.Params.facebook }}" alt="{{ $.Site.Params.facebook }}">
    <span class="fa fa-lg fa-facebook p-1 "></span>
  </a>
  <a role="button" href="{{ $.Site.Params.twitter }}" alt="{{ $.Site.Params.twitter }}">
    <span class="fa fa-lg fa-twitter p-1 "></span>
  </a>
</div>
