
<div class="mt-4 mb-4 p-0 container-fluid _box box-style-{{ .Get "style" }}" >
  <div class="row p-2 m-0  ">
    <div class="col-12 m-0 p-0  border-bottom border-{{ .Get "style" }}">
      <h1 class="p-2 font-weight-100">
        <i class="_icon fa-sm fa fa-{{ .Get "icon" }}"></i>
        {{ .Get "title" }}
      </h1>
    </div>
    <div class="w-100  d-lg-flex d-md-flex d-sm-flex p-0 m-0 {{ .Get "style" }}_lines_xy m-0">
      <div class="
       p-2
       mt-1
       my-auto
       text-left
      ">
        <p style="" class="font-weight-300 text-uppercase my-auto">
          {{ .Get "text" }}
        </p>
        <a class="m-2 bg-transparent ml-auto" href="{{ .Get "link" }}">
          <i class="_icon fa-3x fa fa-arrow-right"></i>
        </a>
      </div>
      </div>
  </div>
</div>
