
<div class="m-2 p-2 font-weight-bold text-light bg-black-transparent dark_lines_xy">

  <h6>Copyright & Credits</h6>
<p>
  © 2020  - Igor Marlot - All rights reserved.
</p>
<hr class="bg-red p-1 m-0">
<small>
  Website Designed & Developed with ❤️ by FabD_Lab (Studio60.ch). Contact : <a>
 <script type="text/javascript" language="javascript">
 <!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature coded by Andrew Moulden
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "0nESn7SgNX@9YnS6.tgY"
  key = "eyGoUQ7JhxnRmO60X4zbpD3g5FCwcfNdYijIHBLZWv29kuPstq1EaSMVlr8TKA"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
</a>
</small>
<hr class="bg-red p-1 m-0">
</div>
