@import "color_system";
@import "typography_system";
@import "geometry_system";
@import "custom_variables";
@import "navbar";
@import "menu";
@import "fancybox";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "font-awesome";

*{ box-sizing: border-box; list-style:none; scroll-behavior: smooth;}

html::-webkit-scrollbar {display: none!important; scrollbar-width: none!important;}
::-webkit-scrollbar {display: none;width: 0px;background: transparent;}
::-webkit-scrollbar-track-piece {background-color: transparent ;-webkit-border-radius: 6px;}

html,body{
  margin:0;padding:0;top:0;bottom:0;left:0;right: 0;
  overflow : hidden;
  scrollbar-width: none;
  scroll-snap-type: both mandatory;
  list-style:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  min-height:$section-height!important;
  max-width:100vw!important;
}

article{
  overflow : hidden;
  white-space:initial;
  a{padding: $spacer/6;text-rendering: optimizeSpeed;color: $primary-color;background-color: transparent;text-transform: uppercase;text-decoration:none; }
  a:hover{background-color: $secondary-color;}
  a:visited{color:$red;background-color: $dark;}
  p{font-family:$font-family-base;/* font-size: 1.66rem;line-height: 2em;*/ /*text-shadow:rgba(0,0,0,0.1);*//*margin: $spacer/2;*/}
  code{color:$light;background-color:$dark;}
  hr{background-color:$transparent;color:$transparent;padding: $spacer/2;border:none;}
}

#mainSection{
  display: inline-block;
  height:100vh;width: 100vw;
  overflow: hidden;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  object-fit: cover;
  object-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:left;
  background-clip: content-box;
}
#homeContainer{
  align-items: center;
  padding-top: 25%;
  h1{
    font-size: 68px;
  }
}
#_box_img-block_sm,
#contactBox_mobile{display:none;visibility:hidden;}
#contactBox_flex_lg{position:absolute;bottom:$spacer;}
#contactBox_menu_lg{
  font-family:$font-family-heading;
  text-transform:uppercase;
  position:absolute;
  a{
    font-size: 20px;
  }
}

#contact_box {
  display: flex;
  min-width:304px;
  position:absolute;
  right:$spacer;
  bottom:$spacer;
}

.content{
  min-height: 100%;
  padding-top:15vh;

}
a{color:$primary;text-decoration: none; transition: $tr-time;}
a:hover {text-decoration: none; color: $dark;transition: $tr-time; }

.my-container-default,.my-container-right,.my-container-
{
  height: inherit;width: auto; 
  margin-right:0; margin-left: 360px;
  overflow-y: scroll; overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="my-container-"] {
    margin-left:0!important;
  }
}