#contactFrame,
.overlay-menu {
  height: 100%;width:0;
  //max-width:30vw;
  max-height: 100vh;
  margin:0;padding:0;
  visibility: hidden;
  position: fixed;
  z-index: 9999 !important;
  transition:$tr-time;
  background-blend-mode:multiply;
}
.overlay-menu-top{
  padding: 0!important;
}
.menu-left-large,
.overlay-menu-content
{
  a 
  {
    font-family:$font-family-heading;
    text-transform:uppercase;
    display: inline-block;
    text-decoration: none;
    color:$gray-100;
    line-height:1.4em;
    font-size:1.7em;
    transition:$tr-time;
  }
  .menu-left-large-bottom
  {
    position:absolute;
    bottom:-15vh;
    text-align: center;
    height: auto;
  }
  max-width:30vw;
  position:absolute;
  left:0;
  height:auto;
  text-align: left;
}
 
 
 