/*
@font-face{font-family:poppins;src:url('../fonts/Poppins-Medium.ttf');}
@font-face{font-family:work;src:url('../fonts/WorkSans-Light.ttf');}
*/
//

$font-family-heading: "Poppins", "Helvetica", "Georgia", sans-serif;
$font-family-base: "Work", "Arial", "Verdana", sans-serif;

.font-family-heading{
  font-family:$font-family-heading;
}
.font-family-base{
  font-family:$font-family-base;
}

$font-size-h1: 3.6rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.4rem;
$font-size-h6: 1.2rem;


h1{
    font-size:$font-size-h1;
    text-transform:uppercase;
    color:$primary-color;
    text-decoration: none;
    font-family:$font-family-heading;
}
h2{
  font-size:$font-size-h2;
  text-transform:uppercase;
  //color:$primary-color;
  font-family:$font-family-heading;
  //line-height: 2.8rem;
}
h3{
  font-family:$font-family-heading;
  text-transform:uppercase;
  font-size:$font-size-h3;
}
h4{
  font-family:$font-family-heading;
  text-transform:uppercase;
  font-size:$font-size-h4;
}
h5{
  font-family:$font-family-heading;
  text-transform:uppercase;
  font-size:$font-size-h5;
}
h6{
  font-family:$font-family-heading;
  text-transform:uppercase;
  font-size:$font-size-h6;
}
p{
  font-family:$font-family-base;
  font-size:$font-size-h6;
}
//Fonts sizes
._12px_title{font-size:12px;}
._20px_title{font-size: 20px;}
._24px_title{font-size: 24px;}
.avery_title{font-size: 16px;}
.fatty_title{font-size: 25px; letter-spacing:4px; line-height:48px;}


.font-weight-100 { font-weight: 100;}
.font-weight-200 { font-weight: 200;}
.font-weight-300 { font-weight: 300;}
.font-weight-400 { font-weight: 400;}
.font-weight-500 { font-weight: 500;}
.font-weight-600 { font-weight: 600;}
