{{ define "main" }}
{{ $container_type := .Params.container_type }}
{{ $container_color := .Params.container_color }}
{{ $container_lines := .Params.container_lines }}
{{ $content_text_color := .Params.content_text_color }}
<div id="homeContainer" class="ml-auto mr-auto">
  <div role="article" class="h-100 w-100 m-0 p-0 mx-auto my-auto" style="margin-top:auto;">

    {{ with .Site.Params.title }}
      <h1 id="" class="text-primary">
        {{ . }}
      </h1> 
    {{ end }}

    {{ with .Site.Params.subtitle }}
        <h3 class="text-uppercase text-{{$content_text_color}}">{{ . }}</h3>
    {{ end }}

    {{ with .Site.Params.description }}
      <p class="text-uppercase text-{{$content_text_color}}">
        {{ . }}
      </p>
    {{ end }}

  </div>
</div>
{{ end }}